In [1]:
import pandas as pd

In [2]:
pics_df = pd.read_csv("C:/Users/cvbat/Downloads/concert_pics.csv")

In [3]:
pics_df.describe()

         recipient  site_duration        spend     register
count  3400.000000    3400.000000  3400.000000  3400.000000
mean   1700.500000      16.879529    14.842088     0.357059
std     981.639785       5.543245     2.359465     0.479203
min       1.000000       5.900000     5.600000     0.000000
25%     850.750000      11.200000    13.200000     0.000000
50%    1700.500000      16.700000    15.200000     0.000000
75%    2550.250000      22.000000    16.700000     1.000000
max    3400.000000      31.100000    22.300000     1.000000

In [4]:
pics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3400 entries, 0 to 3399
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   recipient      3400 non-null   int64
 1   pic_seen       3400 non-null   object
 2   site_duration  3400 non-null   float64
 3   spend          3400 non-null   float64
 4   register       3400 non-null   int64
dtypes: float64(2), int64(2), object(1)
memory usage: 132.9+ KB

### T test for site duration

In [5]:
from scipy import stats
t,p=stats.ttest_ind(pics_df.loc[pics_df['pic_seen']=='Chili_Peppers', 'site_duration'].values, 
                    pics_df.loc[pics_df['pic_seen']=='Foo', 'site_duration'].values, alternative='greater')
print(t,p)

44.69875836486094 2.3628268572e-313

We can reject the null hypothesis that there is no difference in the site duration for the people being shown the chili peppers picture versus the Foo picture. The audience that is shown the Chili Peppers is on the site for longer.

In [6]:
t,p=stats.ttest_ind(pics_df.loc[pics_df['pic_seen']=='Chili_Peppers', 'site_duration'].values, 
                    pics_df.loc[pics_df['pic_seen']=='Billie', 'site_duration'].values, alternative='greater')
print(t,p)

180.71977956194002 0.0

We can reject the null hypothesis that there is no difference in the site duration for the people that are shown the Chili Peppers versus Billie picture. The people that are shown the Chili Peppers picture are on the site for longer than the people shown the Billie picture.

In [7]:
t,p=stats.ttest_ind(pics_df.loc[pics_df['pic_seen']=='Foo', 'site_duration'].values, 
                    pics_df.loc[pics_df['pic_seen']=='Billie', 'site_duration'].values, alternative='greater')
print(t,p)

49.74338210092722 0.0

From the 3 statistical tests ran above, we can draw the conclusion that the picture associated with the longest site duration is the Chili Peppers picture.

### T test for expenditure

In [8]:
t,p=stats.ttest_ind(pics_df.loc[pics_df['pic_seen']=='Chili_Peppers', 'spend'].values, 
                    pics_df.loc[pics_df['pic_seen']=='Foo', 'spend'].values, alternative='greater')
print(t,p)

40.53370629078891 1.2166957076170767e-270

From this we can reject the null and draw the conclusion that the users who view the Chili Peppers pictures spend more than the customers who view the Foo picture.

In [9]:
t,p=stats.ttest_ind(pics_df.loc[pics_df['pic_seen']=='Chili_Peppers', 'spend'].values, 
                    pics_df.loc[pics_df['pic_seen']=='Billie', 'spend'].values, alternative='greater')
print(t,p)

38.72732393927884 3.7063929654259143e-252

From this we can reject the null and draw the conclusion that the users who view the Chili Peppers pictures spend more than the customers who view the Billie picture

In [10]:
t,p=stats.ttest_ind(pics_df.loc[pics_df['pic_seen']=='Foo', 'spend'].values, 
                    pics_df.loc[pics_df['pic_seen']=='Billie', 'spend'].values, alternative='greater')
print(t,p)

2.40996734463924 0.00801620374264992

From all these statistical tests ran, we can draw the conclusion that we should show the Chili Peppers picture to our customers as that will likely generate more site duration and spending.

Null hypothesis: Picture does not impact the likelihood of registration

### Chi squared test for registation

In [6]:
pd.crosstab(pics_df['pic_seen'], pics_df['register'])

register         0    1
pic_seen
Billie         666  476
Chili_Peppers  764  346
Foo            756  392

In [7]:
pd.value_counts(pics_df['pic_seen'], normalize=True)

Foo              0.337647
Billie           0.335882
Chili_Peppers    0.326471
Name: pic_seen, dtype: float64

In [8]:
pd.value_counts(pics_df['register'])

0    2186
1    1214
Name: register, dtype: int64

In [9]:
Foo_expect1=1214* 0.337647

In [10]:
Billie_expect1 = 1214*0.335882

In [11]:
Chili_Peppers_expect1=1214*0.326471

In [12]:
import numpy as np
import scipy.stats

In [13]:
observed_values=np.array([476, 346, 392])
expected_values=np.array([Billie_expect1, Chili_Peppers_expect1, Foo_expect1])

scipy.stats.chisquare(observed_values, f_exp=expected_values)

Power_divergenceResult(statistic=18.59468652632917, pvalue=9.166744453507959e-05)

The null hypothesis for this test was whether there is a difference in registration rate between the 3 pictures shown to customers. According to this test, the null hypothesis is rejected because there is a signficant difference. The p value is extremely low so there is a low chance that the null hypothesis is true.

Statistical Test Write Up: 

We have conducted t-tests as well as a chi-squared test in order to determine the best picture to show to potential customers through email marketing. 

First we looked at the site duration variable and tested out whether there was a signficant difference in the site duration for each of the pictures shown. We conducted 3 statistical t-tests in order to determine what picture had the highest signficant site duration amoung customers. The null hypothesis for each of the tests was that there was no signficant difference in the site duration based on the picture. The alternative hypthesis was that when shown one picture, people had a signficantly higher site duration than the people who were shown the other picture. In both the t tests where the "Chili Peppers" picture was compared to the other 2, the null hypothesis was rejected which means that the people who were shown the "Chili Peppers" picture had a significantly longer site duration than the people who were shown 1 of the other 2 pictures.

Next we looked at the spend variable and tested out whether there was a signficant difference in the spending between the different pictures shown. We conducted 3 statistical t-tests in order to determine what picture was associated with the highest spending amoung customers. The null hypothesis for each of the tests was that there was no signficant difference in the spend variable based on the picture. The alternative hypthesis was that when shown one picture, people spent signficantly more  than the people who were shown the other picture. In both the t tests where the "Chili Peppers" picture was compared to the other 2, the null hypothesis was rejected which means that the people who were shown the "Chili Peppers" picture spent significantly more than the people who were shown 1 of the other 2 pictures.

Lastly, we conducted a Chi-Squared test to determine if there was a difference in the registration rate between the different pictures shown. The null hypothesis was that picture does not impact the likelihood of registration. The null hypothesis was rejected based on the results of this Chi-squared test. The p-value was extremely low which indicates that the probability that the null is true is low. The highest amount of registrations is associated with the "Billie" picture since 476 people registered after seeing that picture in the promotional email. 

After interpreting our results from these tests, we decided to recommend to Lobster Land that it would be best for them to send emails containing the Chili Peppers picture since that picture is associated with longer site duration as well as higher site spending for customers. We believe that the Chili Peppers picture provides the most value for their marketing campaign out of the 3 pictures.